<?xml version="1.0"?>
<PBIWebApp.Properties.Settings>
 <setting name="ClientID" serializeAs="String">
  <value>6334f62b-b4c5-4784-8719-8d8c62905bf1</value>
 </setting>
 <setting name="ClientSecret" serializeAs="String">
  <value>M5PJ3hQTEwQHXmK3JvKxqaeqyBBNPbEpbo4siFD8z/g=</value>
 </setting>
 <setting name="AADAuthorityUri" serializeAs="String">
  <value>https://login.windows.net/common/oauth2/authorize/</value>
 </setting>
 <setting name="PowerBiAPI" serializeAs="String">
  <value>https://analysis.windows.net/powerbi/api</value>
 </setting>
 <setting name="PowerBiDataset" serializeAs="String">
  <value>https://api.powerbi.com/v1.0/myorg/</value>
 </setting>
 <setting name="RedirectUrl" serializeAs="String">
  <value>http://localhost:13526/</value>
 </setting>
</PBIWebApp.Properties.Settings>